body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'zabras', Arial, Helvetica, sans-serif;
}

canvas {
  background-color: black;
}

@font-face {
  font-family: "zabras";
  src: url("/fons/Zabars.ttf") format("truetype"); 
}

h1{
    font-size: 64px;
    letter-spacing: 4px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
